header {
  padding: 100px 0 40px;
  text-align: center;
}
.style{
  color: #568;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 5px;
}

.linkGithub {
  display: block;
  position:absolute;
  right: 30px;
  top: 30px;
  img {
    height: 24px;
    width: 24px;
  }
}
