.wrapper {
  height: 400px;
  margin-bottom: 50px;
  position:relative;
  width: 100%;
}
.boardWrapper {
  bottom:0;
  perspective: 400px;
  position: absolute;
  width: 100%;

}
.board {
  background: #f5f5f5;
  box-shadow: 0 8px 0 -4px #a9aab8, 0 20px 40px -10px rgba(0,0,0,.2);
  height: 50px;
  transform: rotateX(30deg);
  width: 100%;
}
.workWrapper {
  bottom: 30px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 100;
}
.descriptionWrapper {
  background: #fff;
  display: inline-block;
  margin-bottom: 40px;
  padding: 40px 40px 20px;
  position: relative;
  text-align: left;
  width: 320px;
  vertical-align: bottom;

  $dotSize: 7px;
  &:before,
  &:after {
    background: #013;
    border-radius: $dotSize/2;
    content: ' ';
    display: block;
    height: $dotSize;
    opacity: .5;
    position: absolute;
    top: 20px;
    width: $dotSize;
  }
  &:before {
    left: 20px
  }
  &:after {
    right: 20px;
  }
}
.title {
  color: #235;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
.description {
  line-height: 24px;
  margin-bottom: 10px;
}
.link {
  font-weight: bold;
  margin-top: 10px;
  a {
    color: #07f;
    text-decoration: none;
  }
}
.image {
  line-height: 24px;
}
.role {
  line-height: 24px;
}
.tech {
  line-height: 24px;
}
.term {
  line-height: 24px;
}
.thumbnailWrapper {
  display: inline-block;
  margin-right: 100px;
  width: 500px;
  vertical-align: bottom;
}
.thumbnail {
  height: auto;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    height: auto;
    padding: 36px 0;
  }
  .workWrapper {
    position: relative;
  }
  .thumbnailWrapper {
    display: block;
    margin: 0 auto;
    max-width: 680px;
    position: relative;
    width: 100%;
  }
  .descriptionWrapper {
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    display: block;
    margin: -50px auto 0;
    max-width: 540px;
    padding: 30px;
    position: relative;
    width: 75%;
  }
  .board {
    background: #a9aab8;
    box-shadow: none;
    height: 2px;
    transform: none;
    width: 100%;
  }
} 